/* You can add custom styles here. */

// @import "plugins/numbered";

.menuSep {
  margin: 18px 0;
  border-top: 1px dashed var(--gray-200);
}

.pageCover {
  text-align: center;
  img {
    max-width: 100%;
  }
}

.pageDate {
  color: var(--gray-500);
  margin-bottom: 2em;
}

@media screen and (max-width: 1050px) {
  .nostrEmbedCard .nostrichLink {
    display: none;
  }
}

.book-post {
  &_cover + h2 {
    margin-top: 0.8rem;
  }
  h2 {
    margin-bottom: 0.5rem;
  }
  &_date {
    color: var(--gray-500);
    font-size: 0.8em;
  }
}

.book-menu-content {
  // This rule enables the footer.
  display: flex;
  flex-direction: column;

  nav {
    flex: 1;
  }
}

.menuSocialButton {
  display: inline-block;
  fill: currentColor;
  width: 1.4rem;
  height: 1.4rem;
  opacity: 0.4;
}

.custom-page {
  display: grid;                          /* Enables grid layout */
  grid-template-columns: repeat(2, 1fr);  /* Creates 2 equal-width columns */
  grid-template-rows: repeat(2, auto);    /* Creates 2 rows with automatic height based on content */
  gap: 20px;                              /* Space between grid items (cards) */
  justify-content: center;                /* Center the grid horizontally (optional) */
}

.card {
  position: relative;
  background-color: #343A40;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  padding-top: 10px;
  margin: 0;
  height: auto;
  display: block;
}

.card-content {
  padding: 15px;
  color: white;
  margin-top: -50px;
}

.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
}

.button:hover {
  background-color: darkorange;
}
