@font-face {
    font-family: 'Merriweather-reg';
    src: url(../Fonts/Merriweather-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Merriweather-italic';
    src: url(../Fonts/Merriweather-Italic.ttf) format("truetype");
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather-bold';
    src: url(../Fonts/Merriweather-Bold.ttf) format("truetype");
    font-weight: bold;
}

body {
	font-family: 'Merriweather-reg', sans-serif;
	font-size: 1em;
	text-align:justify;
}

h1 {
	font-family: 'Merriweather-bold', sans-serif;
	font-size: 3em;
    text-align: center;	
    font-variant: small-caps;
}

h2 {
	font-family: 'Merriweather-bold', sans-serif;
	font-size: 2em;
    text-align: center;
    font-variant: small-caps;
}

h3 {
	font-family: 'Merriweather-bold', sans-serif;
	font-size: 1.2em;
    text-align: center;
}

p {
	margin-top: 0;
	margin-bottom: 1em !important;
	text-indent: 0 !important;
}

div {
	margin-top: 0;
	margin-bottom: 0;
	text-indent: 0 !important;
}

.epi {
	font-family: 'Merriweather-reg', sans-serif;	
	font-size: 0.8em;
	margin-left: 2em;
	margin-bottom: 0.3em;
}

.epiauthor {
	font-family: 'Merriweather-italic', sans-serif;
	font-size: 0.8em;
	margin-left: 4em;
	margin-top: 0.3em;
    font-style: italic;
}

.it {
	font-family: 'Merriweather-italic', sans-serif;
    font-style: italic;
}

blockquote {
	font-family: 'Merriweather-italic', sans-serif;
    font-style: italic;
	margin-left: 2em;	
}

.source {
	font-family: 'Merriweather-italic', sans-serif;
    font-style: italic;
	text-align: right;	
}

em, cite {
	font-family: 'Merriweather-italic', sans-serif;
    font-style: italic;
}